<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BossAdmin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Mode" value="Release" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="HCHDataConnectionString" connectionString="Data Source=silverlaptop;Initial Catalog=HCHData;Persist Security Info=false;User ID=boss;password=bosssa"
      providerName="System.Data.SqlClient" />
    <add name="HCHDataQAConnectionString" connectionString="Data Source=silverlaptop;Initial Catalog=HCHDataQA;Persist Security Info=false;User ID=boss;password=bosssa"
      providerName="System.Data.SqlClient" />
    <add name="HCHDataTestConnectionString" connectionString="Data Source=silverlaptop;Initial Catalog=HCHDataTest;Persist Security Info=false;User ID=boss;password=bosssa"
      providerName="System.Data.SqlClient" />
    <add name="HCHDataBossConnectionString" connectionString="Data Source=silverlaptop;Initial Catalog=BOSS;Persist Security Info=false;User ID=boss;password=bosssa" />
    <add name="HCHDataEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=HCHData;persist security info=True;user id=boss;password=bosssa;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BossAdmin.My.MySettings.HCHDataQAConnectionString"
      connectionString="Data Source=(local);Initial Catalog=HCHDataQA;Persist Security Info=True;User ID=boss;password=bosssa"
      providerName="System.Data.SqlClient" />
    <add name="BossAdmin.My.MySettings.HCHDataTestConnectionString"
      connectionString="Data Source=(local);Initial Catalog=HCHDataTest;Persist Security Info=True;User ID=boss;password=bosssa"
      providerName="System.Data.SqlClient" />
    <add name="BossAdmin.My.MySettings.HCHDataBossConnectionString"
      connectionString="Data Source=(local);Initial Catalog=BOSS;Persist Security Info=True;User ID=boss;password=bosssa" />
    <add name="BossAdmin.My.MySettings.HCHDataConnectionString" connectionString="Data Source=(local);Initial Catalog=HCHData;Persist Security Info=True;User ID=boss"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup startup="" useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <BossAdmin.My.MySettings>
      <setting name="FileServer" serializeAs="String">
        <value>\\silverlaptop\</value>
      </setting>
      <setting name="DBServer" serializeAs="String">
        <value>silverlaptop</value>
      </setting>
      <setting name="UpdateFolder" serializeAs="String">
        <value>\\silverlaptop\BOSSAdminUpdate</value>
      </setting>
    </BossAdmin.My.MySettings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>